@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
} */

/* Global Styles */
body {
  font-family: "Noto Sans JP", sans-serif; /* Use Noto Sans Japanese font */
}

.body-style {
  padding-left: 3%;
}

.orderList {
  padding: 10px 24px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #ffffff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

.orderList:hover {
  background-color: #4123c4;
  box-shadow: 0px 15px 20px rgba(73, 46, 229, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.orderSpace {
  padding: auto;
  margin: 20px 0px;
  list-style: none;
}

.button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #ffffff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #4123c4;
  box-shadow: 0px 15px 20px rgba(73, 46, 229, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.button:active {
  transform: translateY(-1px);
}

/* Cards */
.card {
  background-color: #212121;
  color: #ffffff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 8px;
}

/* Forms */
.form-group {
  margin-bottom: 50px;
  width: 50%;
  height: 100%;
}

.form-group textarea {
  resize: none;
  width: 100%; /* Adjust the width as per your requirement */
  height: 100%;
  min-height: 75%;
  max-height: 100%;
  overflow-y: auto;
  background-color: rgb(87, 86, 86);
  -webkit-text-fill-color: white;
  font-size: medium;
}

.form-label {
  display: block;
  font-weight: 500;
  margin-bottom: 8px;
}

.form-input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: #212121;
  color: #ffffff;
}

/* Navbar */
.navbar {
  background-color: #212121;
  color: #ffffff;
  padding: 16px;
}

.navbar h1 {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline-block;
  margin-right: 16px;
}

.navbar ul li a {
  color: #ffffff;
  text-decoration: none;
}

/* Footer */
.footer {
  background-color: #212121;
  color: #ffffff;
  padding: 16px;
  text-align: center;
  font-size: 14px;
}

.footer p {
  margin: 0;
}

.order_detail_notes {
  resize: none;
  width: 75%;
  height: 100%;
  max-height: 100px;
  overflow-y: auto;
  background-color: rgb(87, 86, 86);
  -webkit-text-fill-color: white;
  padding: 10px;
  margin: 10px;

  /* White border */
  border: 1px solid white;

  /* Larger text size */
  font-size: 16px;
}

.details-container {
  margin-bottom: 10px;
}

.scrollable-details {
  resize: vertical;
  max-height: auto; /* Set the desired height */
  overflow-y: auto;
  max-width: 50%;
  border: 1px solid #ccc;
  padding: 5px;
}
